@use "igniteui-angular/theming" as *;

$custom-navbar-theme: navbar-theme(
  $text-color: #151515,
  $background: #dedede,
  $idle-icon-color: #151515,
  $hover-icon-color: #525252
);

$custom-drop-down-theme: drop-down-theme(
  $background-color: #1a5442,
  $item-text-color: whitesmoke,
  $selected-item-background: #38EEB4,
  $selected-item-text-color: #151515,
  $selected-hover-item-background: #38EEB4,
  $selected-hover-item-text-color: #151515,
  $hover-item-background: #38EEB4,
  $hover-item-text-color: #151515,
);

$custom-button-theme: button-theme(
  $background: #345779,
  $foreground: #fdfdfd,
);
@include css-vars($custom-navbar-theme);
@include css-vars($custom-drop-down-theme);
@include css-vars($custom-button-theme);


:host {
  ::ng-deep {
    @include navbar($custom-navbar-theme);
    @include css-vars($custom-drop-down-theme);
    @include css-vars($custom-button-theme);
  }
}


.header-button {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 0;
  color: #212121;
  button {
    padding: 0px 24px;
    margin: 0px 0px 0px 8px;
    color: #212121;
  }
}

.page-nav {
  justify-content: space-between;
  width: 12rem;
  color: whitesmoke;
  background-color: #1a5442;

  igx-icon {
    color: whitesmoke;
  }

  &.hover {
    background-color: #38eeb4;
  }
}

:host {
  display: flex;
  flex-flow: row;
  margin: 4px;
}

.button {
  width: 240px;
}

.selection {
  line-height: 4rem;
  padding: 1px 8px;
}

.drop-down-virtual-wrapper {
  height: fit-content;
  padding: 4px;
}

.inner-drop-down-item {
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 1rem;
}
