.entry-cards-list-container {
  width: 100%;
}

.card-container {
  margin: 0.125rem;
  color: #212121;
  z-index: 0;
  display: flex;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2338EEB4' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
}

igx-icon[role="drag-icon"] {
  cursor: move;
  user-select: none;
  background: 0;
}

igx-icon[role="delete-icon"] {
  cursor: pointer;
  background: 0;
}

.new-item-button {
  background-color: var(--card-bg-color);
  width: 100%;
  color: #212121;
  cursor: pointer;
  align-items: center;

  &.hover {
    background-color: var(--card-hover-bg-color);
  }

  div.igx-list__item-content {
    width: 100%;
    justify-content: center;
  }
}

:host {
  display: block;
  margin: 0 1rem 0 1rem;

  igx-list {
    width: 100%;
    background: 0;
    height: 100%;
  }

  igx-list-item {
    z-index: 0;
    width: 99%;
    margin: 0.25rem;
    justify-self: center;
    min-height: 5rem;
    background-color: var(--card-bg-color);

    &.hover {
      background-color: var(--card-hover-bg-color);
    }

    &.dragged {
      box-shadow: elevation(8);
      z-index: 100;
      background-color: var(--card-hover-bg-color);;
    }
  }
}