<div class="inner-content-container" igxLayout>
  <div class="nav-drawer-container">
    <igx-list #entryListContainer>
      <igx-list-item
        class="header-item"
        id="entry-list-header"
        [isHeader]="true"
        (click)="toggleNavDrawer()"
      >
        <igx-icon class="std-icon custom-icon" family="material">list_alt</igx-icon>
      </igx-list-item>
      <div class="items-container">
        @for (item of navItems; track $index) {
          <igx-list-item
            igxRipple
            [ngClass]="item.selected ? 'selected' : ''"
            (click)="onSelect(item.object)"
          >
            <igx-icon class="std-icon" family="material">{{ item.object.iconSrc }}</igx-icon>
            <span>{{ item.object.entryNumber }} {{ item.object.name }}</span>
          </igx-list-item>
        }
      </div>
      <igx-list-item
        class="last-item"
        igxSuffix
        (click)="toggleNavDrawer()"
      >
        <button igxIconButton="flat">
          @if (collapsed) {
            <igx-icon class="std-icon custom-icon" family="material">keyboard_arrow_left</igx-icon>
          }
          @else {
            <igx-icon class="std-icon custom-icon" family="material">keyboard_arrow_right</igx-icon>
          }
        </button>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="view-panel-container" igxFlex>
      <dex-entry
        [dexEntry]="selectedDexEntry"
        [entryGuid]="selectedDexEntry.guid"
        [entryNumber]="selectedDexEntry.entryNumber"
        [name]="selectedDexEntry.name"
        [dexBasicInfoCards]="selectedDexEntry.basicInfoCards || []"
        [dexEntryCards]="selectedDexEntry.entryCards || []"
      ></dex-entry>
  </div>
</div>
