.inner-content-container {
  display: flex;
  height: 85vh;
  padding: 0.5rem;
  color: #212121;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.inner-content-container::-webkit-scrollbar {
  display: none;
}

.igx-nav-drawer--pinned {
  width: max-content;
  overflow: hidden;
}

.item-container {
  height: 69vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.item-container::-webkit-scrollbar {
  display: none;
}

.view-panel-container {
  height: 100%;
  overflow: hidden;
}

aside {
  display: flex;
  flex-direction: column;
}

igx-nav-drawer__aside--normal,
igx-nav-drawer__aside--pinned,
igx-nav-drawer__aside {
  display: flex;
  flex-direction: column;
}

.igx-nav-drawer__aside,
.igx-nav-drawer__aside--normal,
.igx-nav-drawer__aside--pinned,
.igx-nav-drawer__aside--mini {
  display: flex;
  flex-direction: column;
}

[role="navigation"] {
  display: flex;
  flex-direction: column;
}

igx-nav-drawer > aside {
  display: flex;
  flex-direction: column;
}

.header-item {
  cursor: pointer;
  z-index: 5;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
  background-color: #38EEB4;
  border: solid 4px #38EEB4 ;
  border-radius: 2%;
}

.last-item {
  padding: 0.5rem 0;
  align-items: center;
  justify-content: center;
}
