.nav-drawer-content {
    display: flex;
    height: 100%;
}

div {
    height: 100%;
    overflow: auto;
    padding: 8px 8px 0px;
    h5 {
        padding: 8px 0;
    }
}

:host {
    display: block;
    height: calc(100% - 56px);
}