.nav-drawer-container {
    display: flex;
    height: 100%;
    padding: 8px 8px 0px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.nav-drawer-container::-webkit-scrollbar {
    display: none;
}

.igx-nav-drawer--pinned {
    width: max-content;
    overflow: hidden;
}

.item-container {
    height: 84%;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.item-container::-webkit-scrollbar {
    display: none;
}

.view-panel-container {
    height: 100%;
    overflow: auto;
    padding: inherit;
    h5 {
        padding-bottom: 8px;
    }
}

:host {
    display: block;
    height: calc(100% - 56px);
}

.header-item {
    cursor: pointer;
    z-index: 5;
    padding: 8px 0px;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    border: solid 4px aquamarine ;
    border-radius: 2%;
}

.last-item {
    padding: 8px 0px;
    align-items: center;
    justify-content: center;
}
