<div class="nav-drawer-container" igxLayout>
    <igx-nav-drawer id="navigation" [isOpen]="true" [pin]="true" [pinThreshold]="50">
        <ng-template igxDrawer>
            <span
                igxDrawerItem
                class="header-item"
                [isHeader]="true"
                (click)="drawer.toggle()"
            >
                <igx-icon class="std-icon custom-icon" family="material">list_alt</igx-icon>
            </span>
            <div class="item-container">
                @for (item of entryItems; track item) {
                <span
                    igxDrawerItem
                    [active]="item.index === selected"
                    igxRipple
                    (click)="navigate(item)"
                >
                    <igx-icon class="std-icon" family="material">{{ item.imgIconSrc }}</igx-icon>
                    <span>{{ item.name }}</span>
                </span>
                }
            </div>
            <span igxDrawerItem class="last-item" (click)="drawer.toggle()">
                <button igxIconButton="flat">
                    <igx-icon class="std-icon custom-icon" family="material">chevron_left</igx-icon>
                </button>
            </span>
        </ng-template>
        <ng-template igxDrawerMini>
            <span
                igxDrawerItem
                class="header-item"
                [isHeader]="true"
                (click)="drawer.toggle()"
            >
                <igx-icon class="std-icon custom-icon" family="material">list_alt</igx-icon>
            </span>
            <div class="item-container">
                @for (item of entryItems; track item) {
                <span
                    igxDrawerItem
                    [active]="item.index === selected"
                    igxRipple (click)="navigate(item)"
                >
                    <igx-icon class="std-icon" family="material">{{ item.imgIconSrc }}</igx-icon>
                </span>
                }
            </div>
            <span igxDrawerItem class="last-item" (click)="drawer.toggle()">
                <button igxIconButton="flat">
                    <igx-icon class="std-icon custom-icon last-item" family="material">chevron_right</igx-icon>
                </button>
            </span>
        </ng-template>
    </igx-nav-drawer>

    <div class="view-panel-container" igxFlex>
        @if (selected >= 0) {
            <dex-view-panel></dex-view-panel>
        }
    </div>
</div>
