.dexo-container {
    border: 4px solid hotpink;
    --igx-icon-size: 32px;
}

.dexo-body {
    height: 80vh;
    background-color: rgb(95, 117, 117);
    border: 2px solid purple;
}

.dexo-footer-container {
    border: 2px solid yellow;
    color: yellow;
    background-color: rgb(68, 68, 68);
    padding: 0;
    height: 12vh;
}