.dexo-container {
  --igx-icon-size: var(--std-icon-size);
  --igx-icon-color: var(--std-text-color);
  color: var(--std-text-color);
}

.dexo-body {
  background-color: var(--dex-bg-color);
}

.dexo-footer-container {
  border: 2px solid yellow;
  color: yellow;
  background-color: var(--footer-bg-color);
  padding: 0.75rem 0.375rem;
}