.footer-content {
    color: yellow;
    background-color: rgb(68, 68, 68);
    padding: 0;
    height: 6rem;
}

.std-icon {
    --size: 40px;
}

.main-viewpanel {
    background-color: rgb(95, 117, 117);
}