<div class="dex-entry-container">
  <div class="basic-info-column">
    <div class="image-cards-container">
      <igx-list #imageListContainer>
        @for (image of dexEntry().imageCards; track $index) {
          <div class="primary-image-container">
            <igx-list-item id="image-card-{{image.value}}">
              @if (image.value != 'image') {
                <img height="100" [src]="image.value" alt="">
                <igx-icon family="material">{{ image.value }}</igx-icon>
              }
              @else {
                <igx-icon family="material">image</igx-icon>
              }
            </igx-list-item>
          </div>
        }
        @if (dexEditMode()) {
          <div
            class="primary-image-container new-item-button"
            (click)="addImageCard()"
          >
            <igx-list-item id="image-card-add-button" class="new-item-button">
              <igx-icon role="add-icon" family="material">add_circle</igx-icon>
            </igx-list-item>
          </div>
        }
        <ng-template igxEmptyList>
          <span class="emptyState">Switch to Edit mode: <igx-icon class="inline-icon" family="material">edit</igx-icon> to add images.</span>
        </ng-template>
      </igx-list>
    </div>
    <igx-divider></igx-divider>
    <basic-info-panel
      [entryName]="dexEntry().name"
      [basicInfoCards]="dexEntry().basicInfoCards || []"
      [infoEditMode]="dexEditMode()"
    ></basic-info-panel>
    <igx-divider></igx-divider>
  </div>
  <div class="dex-entry-cards-column">
    <dex-entry-cards-list
      [entryCards]="dexEntry().entryCards || []"
      [listEditMode]="dexEditMode()"
    ></dex-entry-cards-list>
  </div>
  <div class="dex-entry-control-column">
    <div class="control-content">
      <div #viewEditControls class="entry-control-buttons">
        <view-edit-button
          id="dex-entry-view-edit-button"
          [defaultValue]="true"
          (editModeOut)="enterEditMode($event)"
        ></view-edit-button>
      </div>
      <div class="entry-scroll-bar-container">
        <entry-scroll-bar
          [scrollbarList]="dexEntry().entryCards || []"
        ></entry-scroll-bar>
      </div>
    </div>
  </div>
</div>