<div class="dex-entry-container">
  <div class="image-cards-container">
    <div class="primary-image image-container">
      <igx-icon family="material">image</igx-icon>
    </div>
    <div class="additional-images-container">
      <igx-list #imageListContainer>
      @for (image of imageCards; track $index) {
        <div class="additional-image image-container">
          <igx-list-item>
            <igx-icon family="material">{{ image.source }}</igx-icon>
          </igx-list-item>
        </div>
      }
      <div class="additional-image image-container">
        <igx-list-item
          class="new-item-button"
          (click)="addImageCard()"
        >
          <igx-icon family="material">add_circle</igx-icon>
        </igx-list-item>
      </div>
    </igx-list>
    </div>
  </div>
  <div class="entry-cards-container">
    <igx-list #cardListContainer>
      @for (card of entryCards; track $index) {
        <div class="card-container"
          igxDrop
        >
          <igx-list-item
            #dragDirRef="drag"
            igxDrop
            [igxDrag]="{ id: card.index, dragged: false }"
            (dragStart)="onDragStart($event, $index)"
            (dragMove)="onDragMove($event, $index)"
            (dragEnd)="onDragEnd($event, $index)"
            (transitioned)="onTransitioned($event, $index)"
            [ghost]="false"
            [class.dragged]="dragDirRef.data && dragDirRef.data.dragged"
          >
            <h6 class="card-title" igxListLineTitle>{{ card.title }}</h6>
            <div class="card-value" igxListLineSubTitle>{{ card.value }}</div>
            <igx-icon role="delete-icon" igxSuffix family="material">trash_can</igx-icon>
            <igx-icon role="drag-dots" igxSuffix igxDragHandle family="material">drag_indicator</igx-icon>
          </igx-list-item>
        </div>
      }
      <div class="card-container">
        <igx-list-item
          class="new-item-button"
          (click)="addEntryCard()"
        >
          <igx-icon family="material">add_circle</igx-icon>
        </igx-list-item>
      </div>
    </igx-list>
  </div>
  <div class="dex-entry-control-container">
    <div class="entry-control-buttons">
      <view-edit-button
        id="dex-entry-view-edit-button"
        defaultValue="true"
      ></view-edit-button>
    </div>
    <div class="entry-scroll-bar-container">
      <entry-scroll-bar
        [scrollbarList]="entryCards"
      ></entry-scroll-bar>
    </div>
  </div>
</div>