<div class="entry-cards-list-container">
  <igx-list #cardListContainer>
    @for (card of entryCards; track $index) {
    <div class="card-container" [ngClass]="{'not-edit-mode' : !editMode}" igxDrop>
      <igx-list-item
        id="entry-card-{{card.guid}}"
        #dragDirRef="drag"
        igxDrop
        [igxDrag]="{ id: card.index, dragged: false }"
        (dragStart)="onDragStart($event, $index)"
        (dragMove)="onDragMove($event, $index)"
        (dragEnd)="onDragEnd($event, $index)"
        (transitioned)="onTransitioned($event, $index)"
        [ghost]="false"
        [class.dragged]="dragDirRef.data && dragDirRef.data.dragged"
      >
        <entry-card [entryCard]="card"></entry-card>
        @if (editMode) {
          <igx-icon
            role="drag-icon"
            igxSuffix igxDragHandle
            family="material"
          >drag_indicator</igx-icon>
        }
      </igx-list-item>
    </div>
    }
    @if (editMode) {
      <div class="card-container">
        <igx-list-item
          id="entry-card-add-button"
          class="new-item-button"
          (click)="addEntryCard()"
        >
          <igx-icon role="add-icon" family="material">add_circle</igx-icon>
        </igx-list-item>
      </div>
    }
    <ng-template igxEmptyList>
      <span class="emptyState">Switch to Edit mode: <igx-icon class="inline-icon" family="material">edit</igx-icon> to add entries.</span>
    </ng-template>
  </igx-list>
</div>