.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-groupie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.card-title {
  font-size: large;
  font-weight: 600;
}

.card-list {
  font-size: medium;
  cursor: default;
}